.app-header {
  background-color: #D3D3D3 !important;
  height: 140px;
  display: flex; /* 水平排列 logo-header 和 main-header */
  align-items: flex-start; /* 顶部对齐子元素 */
  padding: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

  .logo-header {
    display: flex;
    flex-direction: row; /* 将排列方向改为水平排列 */
    align-items: center; /* 水平居中对齐 */
  }

  .logo-pattern {
    position: relative;
    height: 140px; /* 以视口宽度为基准调整整体大小 */
    width: 140px;  /* 确保容器是一个正方形 */
    margin-top: -20px;
  }

  .shield-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* 根据容器的大小自动调整 */
    width: 100%;
    transform: scale(1); /* 保持原始比例 */
  }

  .star-logo {
    position: absolute;
  }

  .star1, .star2, .star3, .star4 {
    animation: star-appear 4s infinite;
    opacity: 0;
  }

  .star1 {
    height: 8.33%; /* 相对于容器高度调整 */
    width: 8.33%;  /* 与height保持一致比例 */
    top: 55%;      /* 相对于容器高度调整 */
    left: 78%;     /* 相对于容器宽度调整 */
    transform: translate(-50%, -50%) rotate(35deg); /* 中心点旋转 */
    animation-delay: 0s;
  }

  .star2 {
    height: 6.66%; 
    width: 6.66%;  
    top: 70%;      
    left: 78%;     
    transform: translate(-50%, -50%) rotate(35deg);
    animation-delay: 1s;
  }

  .star4 {
    height: 10%;  
    width: 10%;  
    top: 76%;     
    left: 58%;    
    transform: translate(-50%, -50%) rotate(35deg);
    animation-delay: 2s;
  }

  .star3 {
    height: 8.33%; 
    width: 8.33%;  
    top: 60%;      
    left: 60%;     
    transform: translate(-50%, -50%) rotate(35deg);
    animation-delay: 3s;
  }

  @keyframes star-appear {
    0% { opacity: 0; }
    12.5% { opacity: 1; } 
    87.5% { opacity: 1; } 
    88% { opacity: 0; }
    100% { opacity: 0; }
  }

  .logo-tile {
    position: relative;
    height: 140px; /* 以视口宽度为基准调整整体大小 */
    width: auto; 
    margin-top: 18px;
    margin-left: -5px;
  }

  .title {
    line-height: normal !important;
    color: #CC142B !important;
    font-style: italic;
    font-weight: 900 !important;
    font-size: 40px !important;
    text-shadow: 
    -1px -1px 0 #fff,   /* 左上角 */
    1px -1px 0 #fff,    /* 右上角 */
    -1px 1px 0 #fff,    /* 左下角 */
    1px 1px 0 #fff,     /* 右下角 */
    0px 0px 3px #fff;   /* 中心增加一点柔和的白色阴影 */
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .slogan {
    color: #00247D !important;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    text-shadow: 
      -1px -1px 0 #fff,   /* 左上角 */
      1px -1px 0 #fff,    /* 右上角 */
      -1px 1px 0 #fff,    /* 左下角 */
      1px 1px 0 #fff,     /* 右下角 */
      0px 0px 3px #fff;   /* 中心增加一点柔和的白色阴影 */
  }

  .stats-header {
    color: #00247D;
    display: flex;
    justify-content: space-around; /* 平均分布 */
    min-width: auto;
    padding: 20px 0; /* 设置上下内边距 */
    margin-left: 200px;
  }
  
  .stats-item {
    text-align: center;
    margin: 0 50px; /* 左右各添加20px的间距 */
  }
  
  .stats-number {
    font-size: 48px; /* 设置大号字体 */
    font-weight: bold;
    color: #00247D;
  }

  .stats-label {
    font-size: 16px; /* 设置较小的字体 */
    font-weight: bold; 
    color: #00247D;
    font-family: 'Arial', sans-serif; /* 设置字体风格 */
  }

  .top-header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 子元素向右对齐 */
    padding: 0 20px;
    height: 140px;
    width: 100%;
    margin-bottom: 2px; 
  }
  
  .top-button {
    position: relative;
    cursor: pointer;
    background-color: inherit;
    padding: 10px;
    margin-right: 20px; /* 添加间距确保图标之间保持一致 */
  }
  
  .top-button:last-child {
    margin-right: 0; /* 确保最后一个按钮没有右侧间距 */
  }
  
  .top-list {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    padding: 5px 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 60px;
  }
  
  .dropdown-item {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
    transition: background-color 0.2s;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }