.container {
  display: flex;
  height: calc(100vh - 100px); /* 让页面占满可视区域 */
  margin-top: 2%;
}

.sidebar {
  flex: 1; /* 自动调整宽度的侧边栏 */
  max-width: 350px; /* 可设定最大宽度 */
  background-color: #ffffff !important;
  padding: 20px;
  border-right: 2px solid #e0e0e0; /* 添加分隔线 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 侧边栏阴影效果 */
}

.sidebarTitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #003366; /* 深蓝色标题，符合网络管理主题 */
}

.networkTree {
  margin-top: 20px;
  border-top: 1px solid #e0e0e0; /* 树结构上方添加分隔线 */
  padding-top: 10px;
}

.content {
  flex: 3; /* 动态调整宽度的内容区域 */
  padding: 40px;
  background-color: #ffffff;
  margin-left: 20px; /* 与侧边栏分隔开一点距离 */
  border-radius: 8px; /* 让右侧区域有圆角 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* 右侧区域阴影 */
}

.panel {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.panelSpace {
  width: 100%;
}

.networkForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.addNeButton {
  margin-left: 10px;
}

.neList {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.buttonSpace {
  margin-top: 20px;
}

.topoViewContainer {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}