.panel {
  width: 100%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonSpace {
  display: flex;
  justify-content: center;
}

.ElementForm {
  width: 98%; /* 表单占据整个宽度 */
}

.fullWidthSpace {
  display: flex;
  flex-wrap: wrap; /* 保证在小屏幕上元素可以换行 */
  justify-content: flex-start; /* 将元素从起点排列，去除元素间的自动间距 */
  width: 100%; /* 确保占据整个表单宽度 */
  gap: 5px !important; /* 设置元素之间的间距（可以调整数值以改变间距大小） */
}

.ElementForm .ant-form-item {
  width: 10%; /* 每个表单项的宽度 */
}

@media (max-width: 768px) {
  .ElementForm .ant-form-item {
    width: 100%; /* 小屏幕上输入框独占一行 */
    margin-right: 0; /* 小屏幕上去掉右侧间距 */
  }
}

.topoViewContainer {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topology {
  width: 100%;
  border: 1px solid #d9d9d9;
}

.topologyPlaceholder {
  text-align: center;
  max-height: 300px;
}