  .mapContainer {
    position: relative;
    padding-right: 6%;
  }

  .map {
    width: auto;
    height: 300px; /* 可以根据需要调整地图的高度 */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }